/* GLOBAL STYLES */
html {
  box-shadow: 0 0 0 30px #000 inset;
  padding: 0 30px;
}

body { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: helvetica, arial, sans; /* modern-touch to fonts */
}

.content-container {
  display: flex; /* a flex item can also be a flex box*/
  flex: 1 1 auto; /* flex shorthand <grow> <shrink> <basis>*/
  padding-top: 10vh;
  width: 100%;
}

h1 {
  font-size: 7vw;
  margin-top: 0;
}

h2 {
  font-size: 2em;
}

a {
  color: #6397b5; /* shorthand for #ff0000 a.k.a. red */
}

p {
  line-height: 1.5;
  margin: 0.75em 0;
}

/* html, body { /* redundant with style resets above ^ /
  margin: 0;
  padding: 0;
} */

h2 ~ p {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center;
}

h4 {
  color: #999; /* A light-gray */
  font-weight: bold;
  text-transform: uppercase;
}

/* HEADER STYLES */
.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-logo {
  background-color: #000;
  box-sizing: border-box;
  display: block;
  height: 10vh;
  left: -30px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 10vh;
}

.header-logo:hover,
.header-logo:active {
  background-color: #ed6e2f;
}

.header-logo img {
  width: 4.3vh;
}

.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}

.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}

.header-nav > li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 1em;
}

.header-nav a {
  color: #fff;
}

.nav-links a {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;  
}

.nav-links a:hover,
.nav-links a:active {
  color: #ed6e2f;
}

.header-nav > li:first-child a {
  color: #ed6e2f;
}

.header-nav > li:first-child a:hover {
  color: #fff;
}

/* FOOTER STYLES */
.footer {
  background-color: #000;
  padding: 10vh 0 15vh;
  text-align: center;
}

.footer-logo img {
  width: 50px;
}

.footer h3 {
  color: #fff;
  padding-top: 1.5em;
  text-transform: uppercase;
}

.footer h3 span {
  color: #aaa;
}

.footer-nav li {
  display: inline-block;
  margin: 2em 1em 0;
}

.footer-nav a {
  color: #ccc;
}

/* COLUMN STYLES */
.col-three {
  display: flex;
  flex: 1; /* equivalent to flex grow & shrink of 1 and basis 0 */
}

.col {
  box-sizing: border-box;
  padding: 2em;
}

.col-three .col ~ .col {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.col-three .col-nav {
  flex: 0 1 15em;
}

.col-three .col-content {
  flex: 1;
}

.col-three .col-aside {
  flex: 0 1 20em;
}

.col-two {
  display: flex; /* make this label the flexbox */
}

.col-two .col-aside {
  flex: 0 0 20em; /* sidebar that stays 20em and doesnt shrink/expand */
  order: 1; /* makes it so it's to the right of the page */
}

.col-two .col-content {
  flex: 1; /* same as flex: 1 1 0, grows and shrinks with page */
}

/* PAGE STYLES */
.page {
  margin: 10vh auto 15vh; /* left/right centered w/ auto */
  max-width: 980px; /* keep page 40-70 chars; easier to read */
  width: 85vw; /* starting width */
}

.page h1 {
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
}

.page h2 {
  margin-bottom: 0.5em; 
}

.page h4 {
  margin-bottom: 1em;  
}

/* HERO STYLES */
.full-hero {
  background-color: #c7dbfc;
  background-size: cover;
  box-sizing: border-box;
  height: 90vh;
}

.full-hero:after {
  bottom: 2vh;
  border: 10px solid;
  border-color: #fff transparent transparent;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
}

.half-hero {
  background-position: center center;
  background-size: cover;
  height: 40vh;
}

.hero-home {
  background-image: url(/images/shark.jpg);
  background-position: 30% center;
}

.hero-content {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
}

.hero-content h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 7vw;
  margin-bottom: 0.25em;
}

.hero-content .social-link {
  background-color: rgba(255, 255, 255, 0.8);
  color: #557c83;
}

.hero-content .social-link:hover {
  background-color: #000;
  color: #fff;
}

/* SOCIAL STYLES */
.social-list {
  list-style: none; /* remove conventional ul styling */
  padding: 0;
  text-align: center;
}

.social-link {
  background: rgba(150, 150, 150, 0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff; /* white */
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 2.5em;
}

.social-list > li { /* immediate child selector */
  display: inline-block;
  margin: 0 0.5em;
}

/* HOMEPAGE STYLES */
.home-section {
  margin: 6rem auto; /* trick from 4.6.1 to keep centered */
  max-width: 980px;
  width: 90vw;
}

.home-section h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.home-callout {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 7vh 0;
}

.callout-title {
  /*flex: 1 1 0;*/
  flex: 1; /* cryptic way of seting grow & shrink to 1, & basis to 0 */
  font-size: 5.75vw;
  text-align: right;
  text-transform: uppercase;
}

.callout-copy {
  /* flex-shrink: 0; /* won't shrink to fit to available space */
  flex: 0 0 45em;
  padding: 0 3vw;
  font-size: 0.8rem;
}

.home-section h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.home-section h4 {
  margin-bottom: 0.5em;
  text-align: center;
}

.home-section .post-header {
  text-align: center;
}

.home-section .blog-posts {
  margin: auto;
  width: 75%;
}

/* BIO STYLES */
.bio-wrapper {
  font-size: 24px; 
  margin: auto; /* auto centers right and left sides */
  max-width: 960px;
  overflow: hidden; /* clear floats within the wrapper */
}

/* .bio-wrapper:after { /* invisible element used to clear floated element / 
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} */

.bio-box {
  /* border: 1px solid #000; /* black */
  box-sizing: border-box; /* ensure box stays at set dimensions */
  float: left;
  font-size: 1rem;
  margin: 6rem 0 0; /* top=6rem, left=0, bottom=0, right=0(fill) */
  padding: 0 3%;
  width: 33%; /* fit in one row */
}

.bio-box h3 {
  color: #fff;
  font-size: 1.5em;
  margin: -40px 0 1em;
  text-align: center;
  text-transform: uppercase;
}

.bio-box img {
  width: 100%;
}

.bio-box .social-link { /* fixes social link spacing/overlap */
  display: block;
  margin: 2em auto 1em; /* keeps it centered */
}

.bio-copy {
  font-size: 0.75em;
}

.bio-copy a {
  color: #008000; /* green */
}

/* GALLERY STYLES */
.gallery-thumbs { 
  height: 90vh; /* absolute height */
  overflow: scroll; /* makes thumbnais scrollable when overflowed */
}

.gallery-thumbs > div { /* cursor changes appearance over a thumbnail */
  cursor: pointer;
}

.gallery-thumbs img {
  box-sizing: border-box;
  box-shadow: 0 0 0 5px transparent;
  display: inline-block;
  margin: 0 0 10px;
  opacity: 0.5;
  transition: all 0.5s ease-in-out; /* 3rd arg: run slower at beginning & end */
  width: 100%; /* max width limited to width of gallery-thumbs column */
}

.gallery-thumbs img:hover { /* opaque image when curser hovers it */
  opacity: 1;
}

.gallery-thumbs .current { 
  cursor: default; /* cursor remains unchanged if image is currently focused */
}

.gallery-thumbs .current img { /* currently selected thumbnail */
  box-shadow: 0 0 0 5px #ed6e2f; /* orange border */
  opacity: 1;
}

.gallery-photo {
  position: relative; /* does nothing by itself unless specified */
}

.gallery-photo img {
  width: 100%; /* fill/shrink to full width of center column */
}

.gallery-info {
  font-size: 0.8rem;
}

.gallery-info h3 {
  margin-bottom: 1em;
}

/* BLOG STYLES */
.blog-recent {
  text-align: right; /* aligns recent posts' text to the right */
}

.blog-title-list {
  list-style: none; /* remove bullet-point style */
  padding: 0;
}

.blog-title-list li ~ li {
  margin-top: 1.5em; /* spaces out recent post list items */  
}

.blog-title-list span {
  color: #999; /* changes text in list to a light gray */
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.5em; /* spaces blog post title from posted date */
}

.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(0, 0, 0, 0.1); /* separate posts w/ line */
  margin-top: 4em; /* space post from one above by 4em */
  padding-top: 4em; /* space post from line above by 4em */
}

.blog-posts .post-header {
  font-size: 0.8rem; /* make blog post's header font smaller */
}

.post-header {
  margin-bottom: 1.5em; /* space header from paragraph(s)*/
}

.post-header img,
.post-header .social-link {
  margin-right: 0.5em; /* add a little space to the right */
}

.post-header img {
  border-radius: 99px; /* circular images */ 
  display: inline-block;
  height: 2.5em; /* shrinks larger images */
  vertical-align: middle; /* centers the image vertically */
}

.posts-image { /* give dimensions so you can see bg image*/
  background-position: center;
  background-size: cover; /* Resize bg image to same size as container */
  height: 6em; /* image not visible without height specified */
  margin-bottom: 1.5em;
}

.post {
  width: 100%; /* takes up entire parent element's width */
}

.post-content,
.post-footer {
  margin: auto; /* horizontal centering to parent container */
  max-width: 40em; /* 40 times the size of current font */
  width: 85vw; /* 85% of page's browser window size */
}

.pull-left {
  float: left;
  margin: 2em 2em 2em -2%;
}

.pull-right {
  float: right;
  margin: 2em -2% 2em 2em;
}

.post-aside {
  background-color: rgba(0, 0, 0, 0.01);
  float: right;
  margin: 0 0 2em 2em;
  padding: 2em;
}

.post .post-header {
  margin-bottom: 2.5em;
  text-align: center;
}

.post-content {
  font-size: 1.1rem;
}

.post-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-style: italic;
  font-size: 0.8em;
  margin-top: 3em;
  padding-top: 2em;
}

.post-byline {
  text-align: left;
}

@media (max-width: 800px) { /* [reduced space | mobile] media query */
  html {
    box-shadow: none;
    padding: 0; /* remove black border on left and right */
  }
    
  /* HEADER STYLES */
  .header-nav {
    /* smaller padding lets navigation menu fit without it bleeding over to the
    next line(menu leans towards top-right instead of bottom-left) */
    padding: 2vh 1em 0 0;
  }
  
  .header-nav > li {
    /* reduce the left margin, brings items closer together */
    margin-left: 0.25em;
  }
  
  .header-nav > li ~ li {
    /* reduce left padding from 1 to 0.25em (same effect as margin) */
    padding-left: 0.25em;
  }
  
  .nav-links a {
    /* increase font for ease of reading in smaller screen */
    font-size: 3.25vw;  
  }
  
  .header-logo {
    /* keeps logo visible in smaller screen */
    left: auto;
  }
  
  /* HOME STYLES */
  .home-callout {
    /* stacks home callout section (title above paragraph for more space) */
    flex-direction: column;
  }
  
  .callout-copy {
    /* flex: 1 1 0 shorthand, grow and shrink at same rate as container */
    flex: 1;
  }
  
  /* getting rid of the widths and dropping the float makes all the content
  stretch to fill the page */
  .bio-box {
    float: none;
    font-size: 1.3rem;
    width: auto;
  }
  
  /* BLOG STYLES */
  .post-aside {
    /* remove recent post list (not essential, just nice to have if you can) */
    display: none;
  }
  
  /* GALLERY STYLES */
  /* only changing gallery's layout to become a single column  */
  .gallery {
    /*  change layout to be vertical */
    flex-direction: column;  
  }
  
  .gallery .col {
    /* reduce padding  */
    padding: 1em;
  }
  
  .gallery .gallery-thumbs {
    /* instead of set width through a flex-basis, expand to fill space */
    flex: 1;
    /* get rid of height we set before (flexbox is gonna grow and shrink with 
    the page now) */
    height: auto;
    /* stops thumbnails from becoming multiple rows if there's lots of them  */
    white-space: nowrap;
    /* give flexbox element a fixed width so it will horizontally scroll if
    there's lots of thumbnails */
    width: 100vw;
  }
  
  .gallery-thumbs > div {
    /* makes all thumbnails go on one line instead of having a newline after
    each one (since they're block elements) */
    display: inline-block;
  }
  
  .gallery-thumbs img {
    /* thumbnails have a set height instead of a set width */
    height: 7vh;
    /* give thumbnails a bit of spacing to the right*/
    margin: 0 10px 0 0;
    width: auto;
  }
  
  .gallery .gallery-info {
    /* instead of set width through a flex-basis, expand to fill space */
    flex: 1;
  }
  
  /* BLOG STYLES */
  .blog-recent {
    /* hide the aside so it doesn't take up unessesary space (not an essential
    feature */
    display: none;
  }
  
  .blog-previews {
    /* get rid of padding around list of blog previews, it'll just take up space
    in a small screen */
    padding: 0;
  }
}

/* 9.1 exercise addition */
/* @media (max-width: 600px) {
  .half-hero {
    display: none; 
  }
} */